<div id="mynetwork" #siteConfigNetwork></div>

<!-- <div style="position: relative; width: 100%; height: 100%;" class="bg">
  <div id="mynetwork" #siteConfigNetwork ></div>
</div> -->


<ng-template #content let-modal>
	<div class="modal-header bg-dark text-white">
		<h4 class="modal-title" id="modal-basic-title">Detalles Peerings</h4>
		<button type="button" class="btn-close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body bg-dark">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col bg-dark text-white">Dispositivo</th>
          <th scope="col">Interface</th>
          <th scope="col">Proveedor</th>
        </tr>
      </thead>
      <tbody>
        @for (peering of arrModalPeeringsTemp; track peering.interface_description) {
          <tr>
            <td [ngClass]="{'text-danger': peering.error == 1}">{{ peering.device_name }}</td>
            <td [ngClass]="{'text-danger': peering.error == 1}">{{ peering.interface_description }}</td>
            <td [ngClass]="{'text-danger': peering.error == 1}">{{ peering.provider_name }}</td>
          </tr>
        }
      </tbody>
    </table>
	</div>
	<div class="modal-footer bg-dark">
		<button type="button" class="btn btn-outline-light" (click)="modal.close('Save click')">Cerrar</button>
	</div>
</ng-template>
